<div class="h-screen w-full p-6">
    <div class="p-4 rounded-md shadow-lg bg-white w-full">
    <form #form="ngForm">
        <div class="form-group mt-2">
            <label for="customer">Customer</label>
            <select  ngModel #customerId="ngModel" name="customerId" id="customerId" class="form-select w-1/4 mt-2">
                <option *ngFor="let customer of customers" value={{customer.customerId}}>{{customer.name}}</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label class='block' for="accountType">Select Account Type</label>
            <select ngModel #accountType="ngModel" id="accountType" name="accountType" class="form-select w-1/4 mt-2" (change)="accountTypeChange($event)" required>
                <option value=""></option>
                <option value="checking">Checking</option>
                <option value="savings">Savings</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="balance">Balance</label>
            <input type="number" ngModel #balance="ngModel" class="form-control mt-2 w-1/2" id="balance" name="balance" min="0" step="100" required>
        </div>

        <div class="form-group mt-2">
            <label for="interestRate">Interest Rate</label>
            <input type="number" [disabled]="accountTypeStatus" ngModel #interestRate="ngModel" class="form-control mt-2 w-1/2" id="interestRate" name="interestRate" min="0" step="0.1">
        </div>

        <div class="mt-4">{{form.value | json }}</div>
        <div class="mt-4">Valid: {{form.valid}}</div>

        <button type="submit" (click)="createAccount(form.value)" [disabled]="!form.valid" class="bg-primaryColor disabled:bg-backgroundColor rounded-md py-2 px-3 mx-1 text-white hover:bg-secondaryColor cursor-pointer mt-2">
            Create Account
        </button>
        <button routerLink="/" class="bg-accentColor disabled:bg-backgroundColor rounded-md py-2 px-3 mx-1 text-textColor hover:bg-secondaryColor cursor-pointer mt-2">
            Cancel
        </button>
    </form>
  </div>
</div>