
<div class="flex flex-col md:flex-row justify-center md:justify-between items-start md:items-center px-1 h-16 sm:h-20 w-full">
    <div class="hidden sm:block">
      <h3 class="p-1 text-textColor font-semibold text-2xl">All Accounts for <span class="underline">{{customer.name}}</span></h3>
    </div>
    <div>
      <button class="bg-accentColor rounded-md py-2 px-3 mx-1 text-white hover:bg-secondaryColor" routerLink="/customers">
        Go Back
      </button>
      <button class="bg-primaryColor rounded-md py-2 px-3 mx-1 text-white hover:bg-secondaryColor" routerLink="/create-account">
        Add New Account
      </button>
    </div>
  </div>
  <div class="h-full w-full">
    <div class="m-1 p-2 rounded-md shadow-lg bg-white">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">Account Id</th>
              <th scope="col">Balance</th>
              <th class='hidden xs:table-cell' scope="col">Interest Rate</th>
              <th class='hidden sm:table-cell' scope="col">Account Type</th>
              <th scope="col">Actions</th>
              
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let account of accounts">
              <td>{{account.accountId}}</td>
              <td>{{account.balance | currency}}</td>
              <td class='hidden xs:table-cell'>{{account.interestRate | percentage}}</td>
              <td class='hidden sm:table-cell'>{{account | accountType}}</td>
              <td>
                <button [routerLink]="['/', account.accountId]" class="bg-primaryColor rounded-md py-2 px-3 mx-1 text-white hover:bg-secondaryColor mb-1">Update</button>
                <button class="bg-[#ac2327] rounded-md py-2 px-3 mx-1 text-white 
                hover:bg-red-400 mb-1" (click)="deleteAccount(account.accountId)">Delete</button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
  </div>