<div class="h-screen w-full p-6">
    <div class="p-4 rounded-md shadow-lg bg-white w-full">
    <form #form="ngForm">

        <div class="form-group mt-2">
            <label for="name">Customer Name</label>
            <input type='text' [(ngModel)]="customer.name" ngModel #name="ngModel" class="form-control mt-2 w-1/2" id="name" name="name" required>
        </div>

        <div class="form-group mt-2">
            <label for="city">City</label>
            <input type='text' [(ngModel)]="customer.address.city" ngModel #city="ngModel" class="form-control mt-2 w-1/2" id="city" name="city" required>
        </div>

        <div class="form-group mt-2">
            <label for="province">Province</label>
            <input type='text' [(ngModel)]="customer.address.province" ngModel #province="ngModel" class="form-control mt-2 w-1/2" id="province" name="province" required>
        </div>

        <div class="form-group mt-2">
            <label for="postalCode">Postal Code</label>
            <input type='text' [(ngModel)]="customer.address.postalCode" ngModel #postalCode="ngModel" class="form-control mt-2 w-1/2" id="postalCode" name="postalCode" required>
        </div>

        <div class="mt-4">{{form.value | json }}</div>
        <div class="mt-4">Valid: {{form.valid}}</div>

        <button type="submit" (click)="updateCustomer(form.value)" class="bg-primaryColor disabled:bg-backgroundColor rounded-md py-2 px-3 mx-1 text-white hover:bg-secondaryColor cursor-pointer mt-2">
            Update Customer
        </button>
        <button routerLink="/customers" class="bg-accentColor disabled:bg-backgroundColor rounded-md py-2 px-3 mx-1 text-textColor hover:bg-secondaryColor cursor-pointer mt-2">
            Cancel
        </button>
    </form>
    </div>
  </div>
