<div class='container-fluid bg-primaryColor text-white'>
  <div class="row">
    <div class="flex items-center justify-between p-2">
      <i class="bi bi-list block md:hidden text-3xl cursor-pointer" (click)="toggleSideBar()"></i> 
      <h1 class="text-3xl font-bold text-center flex-1">
        BankAccount Application
      </h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row min-h-screen">
    <div class="bg-primaryColor col-3 hidden md:block bg-accent/80" 
        [ngClass]="{'hidden': !sideBarOpen, 'block col-12': sideBarOpen}"> 
      <ul class=" space-y-2 font-medium text-center text-white">
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="block nav-link p-3 hover:bg-secondaryColor rounded-md">Home</a>
        </li>
        <li>
          <a href="#" routerLinkActive="active" class="block nav-link p-3 hover:bg-secondaryColor rounded-md">Add</a>
        </li>
        <li>
          <a href="#" routerLinkActive="active" class="block nav-link p-3 hover:bg-secondaryColor rounded-md ">Update</a>
        </li>
        <li>
          <a routerLink="/customers" routerLinkActive="active" class="block nav-link p-3 hover:bg-secondaryColor rounded-md">Users</a>
        </li>
        <li>
          <a href="#" routerLinkActive="active" class="block nav-link p-3 hover:bg-secondaryColor rounded-md">Find By Id</a>
        </li>
        <li>
          <a href="#" routerLinkActive="active" class="block nav-link p-3 hover:bg-secondaryColor rounded-md">Login</a>
        </li>
        <li>
          <a href="#" routerLinkActive="active" class="block nav-link p-3 hover:bg-secondaryColor rounded-md">Register</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col col-12 col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>